<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <sectionGroup name="WebServiceSection">
      <section name="Products" type="System.Configuration.DictionarySectionHandler" />
      <section name="Offers" type="System.Configuration.DictionarySectionHandler" />
      <section name="Commands" type="System.Configuration.DictionarySectionHandler" />
      <section name="Globals" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<WebServiceSection configSource="appServices.config"/>-->

  <WebServiceSection>
    <Products>
      <add key="wsURL" value="https://api-gateway.laredoute.com/seller/items" />
      <add key="execInterval" value="10000" />
      <add key="execIntDelay" value="36000" />
      <!--execInterval in ms-->
      <add key="startOnLaunch" value="false" />
      <add key="username" value="SELLER32083-1" />
      <add key="password" value="58mYsyteSBFUoA32WKvdlQaLPjvAqpLh" />
      <add key="source" value="d:\projects\emova\source\produits\" />
      <add key="destination" value="d:\projects\emova\destination\produits\" />
      <add key="archive" value="d:\projects\emova\source\produits\archives\" />
    </Products>
    <Offers>
      <add key="wsURL" value="https://marketplace.laredoute.com/Redcats/File/ESB-TIBCO/File/1.0" />
      <add key="execInterval" value="36000" />
      <add key="execIntDelay" value="2000" />
      <!--execInterval in ms-->
      <add key="startOnLaunch" value="false" />
      <add key="username" value="SELLER32083-1" />
      <add key="password" value="58mYsyteSBFUoA32WKvdlQaLPjvAqpLh" />
      <add key="source" value="d:\projects\emova\source\offres\" />
      <add key="destination" value="d:\projects\emova\destination\offres\" />
      <add key="archive" value="d:\projects\emova\source\offres\archives\" />
      <add key="DeliveryFee" value="10" />
      <add key="ShipmentDelay" value="2" />
      <add key="DeliveryDeaysRangeMin" value="3" />
      <add key="DeliveryDeaysRangeMax" value="20" />
    </Offers>
    <Commands>
      <add key="wsURL" value="https://api-gateway.laredoute.com/prod/seller/orders/1.2" />
      <add key="execInterval" value="86400000" />
      <add key="execIntDelay" value="1000" />
      <!--execInterval in ms-->
      <add key="startOnLaunch" value="false" />           
      <add key="username" value="SELLER32083-1" />
      <add key="ApiKeyRec" value="61774c44-838e-4c0b-b4b8-7b09cecc8982" />
      <add key="ApiKeyMaj" value="81be3c36-1768-48eb-a3c9-55c0777e51db" />
      <add key="password" value="58mYsyteSBFUoA32WKvdlQaLPjvAqpLh" />
      <add key="source" value="d:\projects\emova\source\commandes\" />
      <add key="destination" value="d:\projects\emova\destination\commandes\" />
      <add key="archive" value="d:\projects\emova\source\commandes\archives\" />
    </Commands>
    <Globals>
      <add key="VendorId" value="12821" />
      <add key="ClassificationValue" value="S1465" />
      <add key="ApiKey" value="316fcc05-3b16-46e4-89fe-4b9aed927fea" />
      <add key="productCode" value="B018006" />
      <add key="tvaActuel" value="0,10" />
       <add key="Host" value= "smtp.gmail.com"/>
       <add key="Port" value= "25"/>
       <add key="SSL" value= "true"/>
       <add key="Username" value= "testsanarsoft@gmail.com"/>
       <add key="Password" value= "passer12"/>
       <add key="startBilling" value= "true"/>
    
    </Globals>
  </WebServiceSection>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="File_1.0Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="File_1.0Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://marketplace.laredoute.com/Redcats/File/ESB-TIBCO/File/1.0"
                         
      binding="customBinding" bindingConfiguration="File_1.0Binding1"
      contract="ServiceReference2.portType" name="File_1.01" />
    </client>
  </system.serviceModel>
  
</configuration>